.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  
  body {
    /* background: url('../../../assets/imagen/fondo-login.jpg') no-repeat center center fixed; */
    background-size: cover;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
  }
  
  